body {
    padding-top: 50px;
    padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak],
[data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
    display: none !important;
}

.chatbox {
    display: table;
    width: 100%;
    border: 1px #ededed solid;
    font-size: 0;
}

    .chatbox .message-list {
        display: table-cell;
        width: 80%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style-type: none;
    }

    .chatbox .contact-list {
        display: table-cell;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-left: 1px #ededed solid;
        font-size: 14px;
        list-style-type: none;
    }

    .chatbox .title {
        border-bottom: 1px #ededed solid;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .chatbox .message,
    .chatbox .contact a {
        padding: 5px;
    }

        .chatbox .contact a,
        .chatbox .contact a:link,
        .chatbox .contact a:visited {
            display: block;
            color: black;
            text-decoration: none;
        }

            .chatbox .contact a:hover {
                color: black;
                background-color: #ededed;
            }

    .chatbox .contact .glyphicon-check {
        visibility: hidden;
    }

    .chatbox .contact.selected .glyphicon-check {
        visibility: visible;
    }
