@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="ChatController" ng-cloak>
    <section class="chatbox">
        <ul class="message-list">
            <li class="title">Messages</li>
            <li class="message" ng-repeat="msg in messages">
                <strong>{{msg.sender}}</strong> {{msg.message}}
            </li>
        </ul>
        <ul class="contact-list">
            <li class="title">Contacts</li>
            @*<li class="contact selected"><a href=""><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Thomas</a></li>*@
        </ul>
    </section>
    <input type="text" ng-model="newMsg" /><button ng-click="send()">send</button>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    @*<script src="@Scripts.Url("~/signalr/hubs")"></script>*@
    @Scripts.Render("~/bundles/td-SignalR")
}